*
{
    margin: 0;
    padding: 0;
}

html
{
    background: #1e1a20;
    user-select: none;
}

html,
body
{
    scrollbar-width: none;
}

body
{
    scroll-behavior: smooth;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;

    /* pointer-events: none; */
}

.section-align-right
{
    justify-content: end;
    text-align: right;
}

.section-align-center
{
    justify-content: center;
    align-items: start;
    text-align: center;

    padding-top: 10%;
    box-sizing: border-box;
}

/* 반응형 */

@media (max-width: 1250px) {
    .section
    {
        font-size: 6vmin;
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media (max-width: 1050px) {
    .section
    {
        font-size: 5vmin;
    }
}

@media (max-width: 900px) {
    .section
    {
        font-size: 4vmin;
    }
}

@media (max-width: 768px) {
    .section
    {
        font-size: 6vmin;
        padding-left: 7%;
        padding-right: 7%;
    }

    .section-align-left,
    .section-align-right,
    .section-align-center
    {
        text-align: center;
        justify-content: center;
        align-items: start;
        padding-top: 20%;
        padding-bottom: 10%;
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    .section
    {
        font-size: 8vmin;
        padding-left: 5%;
        padding-right: 5%;
    }

    .section-align-left,
    .section-align-right,
    .section-align-center
    {
        padding-top: 30%;
    }
}
